#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  nav ul{
    text-align:end;
    font-size: x-large;
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  nav ul li{
    display: inline;
    margin-right: 20px;
    text-align: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
    
}
nav ul li a:hover{
    text-decoration: underline;

}
body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

.container {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: lightslategray;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: crimson;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input, select {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	background-color: #337ab7;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #23527c;
}
